* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Georgia, serif;
}

.header {
    width: 100%;
    height: 90px;
    padding: 20px 40px;
    background: #b10000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px;
}

.login-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.navbar {
    height: 60px;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-items h4,
.mobile-menu h4 {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}

.nav-items h4 a,
.mobile-menu h4 a {
    color: inherit;
    text-decoration: none;
}

.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    background: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
}

.hero {
    height: calc(100vh - 150px);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero-slider {
    height: 100%;
    width: 100%;
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    user-select: none;
}

.slide {
    position: absolute;
    inset: 0;
    padding: 100px 70px;
    display: flex;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-image: var(--bg);
    opacity: 0;
    transition: opacity .8s ease;
}

.slide.active {
    opacity: 1;
    z-index: 2;
}

.hero-content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-content h1 {
    font-size: 42px;
    line-height: 58px;
    color: #FFF;
    font-weight: bold;
}

.hero-content p {
    margin-top: 12px;
    font-size: 18px;
    color: #FFF;
    line-height: 30px;
}

.hero-btn {
    width: fit-content;
    margin-top: 25px;
    padding: 12px 22px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.hero-img {
    position: absolute;
    right: -10%;
    bottom: 0;
    width: 650px;
    object-fit: cover;
    z-index: 99;
}


.services-section {
    width: 100%;
    padding: 60px 7%;
    background-color: #FFF6F2;
    text-align: center;
}

.services-title {
    font-size: 46px;
    color: #7b0000;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: Georgia, serif;
}

.services-grid {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.service-card {
    width: 270px;
    background: white;
    border-radius: 15px;
    padding: 35px 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.icon-circle {
    width: 95px;
    height: 95px;
    background: #ff7300;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 18px;
}

.icon-circle img {
    width: 50px;
    height: 50px;
}

.service-card h3 {
    font-size: 21px;
    color: #7b0000;
    font-weight: 600;
    margin-bottom: 12px;
}

.service-card p {
    font-size: 15px;
    color: #444;
    line-height: 22px;
    margin-bottom: 25px;
}

.order-btn {
    background: #b10202;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.order-btn:hover {
    background: #8d0000;
}

.about-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 7%;
    gap: 50px;
}

.about-left {
    flex: 1;
}

.about-card {
    height: 400px;
    width: 100%;
    max-width: 550px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.about-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.about-right {
    width: 55%;
}

.about-right h2 {
    font-size: 35px;
    line-height: 52px;
    color: #7b0000;
    margin-bottom: 20px;
    font-family: Georgia, serif;
}

.about-right p {
    font-size: 17px;
    line-height: 30px;
    color: #333;
    margin-bottom: 30px;
}

.legacy-box {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 10px;
}

.legacy-box svg {
    width: 70px;
}

.legacy-box h3 {
    font-size: 28px;
    color: #7b0000;
    margin-bottom: 5px;
    font-family: Georgia, serif;
}

.legacy-box span {
    font-size: 17px;
    color: #444;
}

.features-section {
    width: 100%;
    padding: 60px 7%;
    display: flex;
    justify-content: center;
}

.features-wrapper {
    width: 100%;
    max-width: 1300px;
    background: #9d2a2a;
    padding: 45px 25px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-circle {
    width: 170px;
    height: 170px;
    background: #fff4f3;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.feature-circle h3 {
    font-size: 34px;
    color: #6e0000;
    font-weight: bold;
    margin-bottom: 6px;
    font-family: Georgia, serif;
}

.feature-circle p {
    font-size: 15px;
    color: #6e0000;
    line-height: 20px;
}


.contact-section {
    width: 100%;
    padding: 80px 7%;
    background: #fff5ef url('contact-bg.png') repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.contact-left {
    flex: 1;
}

.contact-left h2 {
    font-size: 42px;
    line-height: 52px;
    color: #7b0000;
    margin-bottom: 20px;
    font-family: Georgia, serif;
}

.contact-left p {
    font-size: 18px;
    color: #444;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.book-btn {
    background: #ff6d2d;
    color: #fff;
    border: none;
    padding: 14px 34px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.book-btn:hover {
    background: #e85e21;
}

.contact-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.contact-right img {
    width: 420px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.footer {
    width: 100%;
    background: linear-gradient(to right, #8b1818, #b02828, #8b1818);
    color: #fff;
    padding-top: 60px;
    font-family: Arial, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 7%;
    gap: 50px;
}

.footer-col {
    width: 240px;
}

.footer-col h3 {
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: bold;
}

.footer-col p {
    font-size: 15px;
    margin-bottom: 10px;
    opacity: 0.85;
    cursor: pointer;
}

.footer-col .mt {
    margin-top: 25px;
}

.newsletter .email-box {
    display: flex;
    margin: 18px 0;
}

.email-box input {
    padding: 12px;
    flex: 1;
    border: none;
    font-size: 15px;
}

.email-box button {
    background: #ff712d;
    border: none;
    padding: 13px 20px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.newsletter-text {
    font-size: 15px;
    margin-top: 15px;
    line-height: 26px;
    opacity: 0.85;
}

.footer-divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 35px 7% 25px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7% 20px;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 120px;
}

.footer-links a {
    margin: 0 12px;
    color: #fff;
    opacity: 0.9;
    font-size: 15px;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 18px;
}

.icon {
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.footer-copy {
    text-align: center;
    padding: 10px 0 25px;
    font-size: 15px;
    opacity: 0.9;
}

@media (max-width: 768px) {

    .header {
        padding: 15px 20px;
        height: auto;
    }

    .logo {
        width: 55px;
    }

    .nav-items {
        display: none;
    }

    .menu-icon {
        display: block;
        margin: 0  0 0 auto;
    }

    .mobile-menu {
        display: none;
        background-color: #6e0000;
        z-index: 999;
    }

    .mobile-menu h4 {
        color: #FFF;
        text-align: right;
    }

    .mobile-menu.show {
        display: flex;
    }

    .arrow {
        font-size: 28px;
    }

    .slide {
        padding: 50px 50px;
    }

    .hero-img {
        display: none;
    }

    .hero-content {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 30px;
        line-height: 38px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-img {
        width: 80%;
    }

    .services-grid {
        gap: 25px;
    }

    .service-card {
        width: 90%;
        max-width: 320px;
    }

    .about-section {
        flex-direction: column;
    }

    .about-right {
        width: 100%;
    }

    .about-right h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .features-wrapper {
        align-items: center;
        justify-content: center;
    }

    .feature-circle {
        width: 135px;
        height: 135px;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-right img {
        width: 100%;
    }

    .contact-left h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .footer-logo img {
        width: 70px;
        margin-bottom: 20px;
    }
}